// ++++++++++++++++++++++++++++++++++++++++++++++ layout

$footer-height-px: 64px;

* {
  // border box default
  box-sizing: border-box;

  // disable selection highlighting and cursor
  cursor: default;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: em($footer-height-px);
  @include type-01;
  background: $wl-canvas;

  &.blank-state-visible {
    padding-bottom: 0;
  }
}

svg {
  display: block;
  width: 100%;
}

.hide-visually {
  @include hide-visually;
}

.container {
  nav {
    &.scene-navigator {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.bulk-editor,
.master-item {
  &.expanded {
    .expanded-content {
      border-bottom: 1px solid $wl-accent-tertiary;

      .divider-top {
        @include divider-base(100%, #{em(15.5)});
        margin-bottom: em(8);
      }

      .form-element-holder {
        .form-row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: em(2) em(10);
          width: 100%;

          .form-unit,
          .form-element,
          .form-label, {
            &.split-40 {
              width: calc(40% - #{em(3)});
            }

            &.split-50 {
              width: calc(50% - #{em(3)});
            }

            &.split-60 {
              width: calc(60% - #{em(3)});
            }

            &.has-multiple {
              #{$all-text-inputs} {
                &::placeholder {
                  font-style: italic;
                  color: rgba($wl-type-01-invert, 0.8);
                }
              }
            }
          }

          &.has-multiple {
            #{$all-text-inputs} {
              &::placeholder {
                font-style: italic;
                color: rgba($wl-type-01-invert, 0.8);
              }
            }
          }
        }
      }
    }
  }
}

.bulk-editor {
  &.expanded {
    .expanded-content {
      background-color: rgba($wl-accent, 0.8);
      border-bottom-color: rgba($wl-accent, 0.8);

      .divider-top {
        hr.inner {
          background-color: $wl-accent-tertiary-invert;
        }
      }
    }
  }
}
