// ++++++++++++++++++++++++++++++++++++++++++++++ layout

$footer-height-px: 40px;

* {
  // border box default
  box-sizing: border-box;

  // disable selection highlighting and cursor
  cursor: default;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: em($footer-height-px);
  @include type-01;
  background: $wl-canvas;

  &.blank-state-visible {
    padding-bottom: 0;
  }
}

svg {
  display: block;
  width: 100%;
}

h3 {
  margin: 0;
  padding: 0;
}

.hide-visually {
  @include hide-visually;
}

.container {
  nav {
    &.scene-navigator {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.options#action-options {
  margin: 0;
  padding: 0;

  .items-list {
    margin: 0;
    padding: 0;
  }
}

.bulk-editor,
.main-item {
  &.expanded {
    .expanded-content {
      padding-bottom: em(12);
      border-bottom: 1px solid $wl-accent-tertiary;

      .divider-top {
        @include divider-base(100%, #{em(15.5)});
        margin-bottom: em(8);
      }

      .form-element-holder {
        .form-row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: em(2) em(10);
          width: 100%;

          &.indent {
            padding: em(2) em(44);

            &.text-buffer {
              padding: em(2) em(54) em(12) em(54);

              &.has-multiple {
                font-style: italic;
                color: rgba($wl-type-01-invert, 0.8);
              }
            }
          }

          .form-unit,
          .form-element,
          .form-label,
          &.form-unit {
            &.split-40 {
              width: calc(40% - #{em(3)});

              .split-50 {
                width: 100%;
              }
            }

            &.split-50 {
              width: calc(50% - #{em(3)});
            }

            &.split-60 {
              width: calc(60% - #{em(3)});

              .split-50 {
                width: 100%;
              }
            }

            &.has-multiple {
              #{$all-text-inputs} {
                &::placeholder {
                  font-style: italic;
                  color: rgba($wl-type-01-invert, 0.8);
                }
              }
            }
          }

          &.form-unit.fixed-150 {
            flex-wrap: nowrap;
            padding: 0;

            .form-label {
              width: 140px;
              margin-left: 26px;
              padding-right: 0;
            }

            .form-inner-row {
              position: relative;
            }

            .form-element {
              flex: auto;
            }
          }

          &.has-multiple {
            #{$all-text-inputs} {
              &::placeholder {
                font-style: italic;
                color: rgba($wl-type-01-invert, 0.8);
              }
            }
          }
        }

        .form-header {
          padding: em(18) em(18) em(9) em(18);
          @include type-01(600);

          &.invert {
            color: rgba($wl-type-01-invert, 0.8);
          }
        }
      }

      .form-action-controls {
        display: flex;
        justify-content: flex-end;
        padding: em(12) em(12) 0 em(12);
        width: 100%;

        button {
          margin-left: em(15);

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.bulk-editor {
  &.expanded {
    .expanded-content {
      background-color: rgba($wl-accent, 0.8);
      border-bottom-color: rgba($wl-accent, 0.8);

      .divider-top {
        hr.inner {
          background-color: $wl-accent-tertiary-invert;
        }
      }
    }
  }
}

.banner-text {
  margin: 0;
  padding: 8px 16px;
  color: $wl-type-02;

  .icon-inline.warning.inverted {
    display: inline-flex;
    align-items: center;
    height: 10px;
    width: 14px;

    .icon {
      display: inline-block;
    }
  }
}
