// ++++++++++++++++++++++++++++++++++++++++++++++ status bar

@mixin status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: em(4) em(12);
  width: 100%;
  border-top: 1px solid $wl-accent-tertiary;
  background: $wl-canvas;
  z-index: $z-status-bar;

  p, span {
    margin: 0;
    padding: 0;
    @include type-02;
  }
}

footer {
  &.status-bar {
    @include status-bar;
  }
}
